.chat-message-user {
  display: flex;
  justify-content: end;
  /* move content to the right horizontally is a feture of flexbox*/
  align-items: start;
  /* controls how to elements are displayed vertically at start feature of flex box*/
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}
.chat-message-profile {
  width: 45px;
  height:45px;
  border-radius: 45px;
  object-fit: cover;
}
.chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}